@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
.admin {
    background-color: #F4FAF6 !important;
    font-family: 'Poppins', sans-serif !important;
}
.admin .navbar {
    background-color: #01C07A;
}
.admin .navbar-links a:hover {
    background-color: #018454;
}
.admin .navbar-links img {
    height: 35px; 
}
.admin .sign-out {
    background-color: #018454;
    border: 1px solid #018454; 
}
.add-container,
.view-container,
.add-form,
.edit-form {
    background-color: white;
    -moz-box-shadow: 0 0 5px #D0D0D0;
    -webkit-box-shadow: 0 0 5px #D0D0D0;
    box-shadow: 0 0 5px #D0D0D0;
    padding: 40px 40px;
}
.add-container {
    display: grid;
    grid-template-columns: 85% 10%;
    grid-gap: 5%;
    align-items: center;
    margin-bottom: 40px;
}
.add-container span:nth-child(2) {
    text-align: right;
}
.add-container img {
    height: 50px;
}
.add-container img:hover {
    cursor: pointer;
}
.table-row {
    display: grid;
    padding: 10px 0;
    border-bottom: 1px solid #E8E8E8;
}
.view-table img {
    height: 35px;
    margin-right: 5px;
}
.view-table img:hover {
    cursor: pointer;
}
.admin .view-table .edit-button:hover {
    text-decoration: none !important;
}
.view-table.users .table-row {
    grid-template-columns: 10% 20% 30% 15% 15%;
    grid-gap: 2%;
}
.view-table.accounts .table-row {
    grid-template-columns: 10% 25% 20% 20% 15%;
    grid-gap: 2%;
}
.view-table.transactions .table-row {
    grid-template-columns: 10% 15% 20% 20% 10% 15%;
    grid-gap: 2%;
}
.table-row a {
    text-decoration: underline;
}
.table-row.table-header {
    margin-top: 10px;
    font-weight: 600;
    border-bottom: 1px solid #D3D3D3;
}
.table-details {
    margin-top: 25px;
    padding: 15px 10px;
    border: 1px solid #018454;
    color: #018454;
    display: flex;
    align-items: center;
}
.table-details img {
    height: 20px;
    margin-right: 10px;
}
.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}
.are-you-sure {
    background-color: white;
    position: fixed;
    top: 25%;
    left: 0;
    right: 0;
    width: 50%;
    margin: auto;
    padding: 40px 20px;
    z-index: 2;
    display: none;
}
.are-you-sure h4 {
    text-align: center;
}
.are-you-sure div {
    text-align: right;
}
.admin-buttons a,
.admin-buttons button {
    padding: 7.5px 15px;
    border-radius: 10px;
    font-weight: bold;
}
.admin-buttons a:hover,
.admin-buttons button:hover {
    text-decoration: underline;
    cursor: pointer;
}
.admin-buttons a:nth-child(1),
.admin-buttons button:nth-child(1) {
    color: white !important;
    background-color: #01C07A;
    border: 1px solid #01C07A;
}
.admin-buttons a:nth-child(1):hover,
.admin-buttons button:nth-child(1):hover {
    background-color: #01C07A;
    border: 1px solid #01C07A;
}
.admin-buttons a:nth-child(2),
.admin-buttons button:nth-child(2) {
    color: #01C07A !important;
    background-color: transparent;
    border: none;
}
.admin .add-form,
.admin .edit-form {
    margin-top: 40px;
}
.admin .form-container {
    display: grid;
    grid-template-columns: 15% 80%;
    grid-row-gap: 40px;
    grid-column-gap: 5%;
}
.admin .form-container input,
.admin .form-container select {
    height: 30px;
}
.admin .add-form .admin-buttons,
.admin .edit-form .admin-buttons {
    margin-top: 40px;
    text-align: right;
}
.admin .warning-message {
    display: grid;
    grid-template-columns: 7.5% 85%;
    grid-gap: 2.5%;
    align-items: center;
    padding: 40px 40px;
    border: 1px solid #CDB20C;
    margin-top: 40px;
}
.admin .warning-message img {
    height: 50px;
}
.admin .warning-message p {
    margin-bottom: 0;
}
.admin .readonly {
    background-color: #F8F8F8;
    border: 1px solid #D1D1D1;
    cursor: default;
}
.admin .readonly:focus {
    outline: none;
}