.apple-pay {
    background-color: #DFF3FE;
    border: 1px solid #0179C0;
    border-radius: 10px;
    padding: 20px; 
}
.welcome-screen {
    margin: 50px 0; 
    font-size: 20px;
}
.welcome-screen span:nth-child(2) {
    font-weight: bold; 
}
.account-container a {
    height: 90px; 
    background-color: white;
    padding: 20px; 
    margin: 20px 0; 
    -moz-box-shadow: 0 0 5px #D0D0D0;
    -webkit-box-shadow: 0 0 5px #D0D0D0;
    box-shadow: 0 0 5px #D0D0D0;
    display: grid;
    grid-template-columns: 75% 25%;
    cursor: pointer; 
}
.account-container a:hover {
    text-decoration: none !important;
}
.account-container a p {
    margin-bottom: 0px;
}
.account-type {
    display: flex;
}
.account-type p:first-child {
    font-weight: bold;
    padding-right: 20px;
}
.account-sum {
    text-align: right;
}
.open-account-prompt {
    padding: 40px 20px;
    border: 1px solid #0179C0;
    color: #0179C0;
}
.open-account-prompt p {
    margin: 0;
    text-align: center;
    font-weight: 500;
}