.history-container {
    background-color: white; 
    margin: 20px 0; 
    -moz-box-shadow: 0 0 5px #D0D0D0;
    -webkit-box-shadow: 0 0 5px #D0D0D0;
    box-shadow: 0 0 5px #D0D0D0;
}
.history-container div {
    display: grid;
    grid-template-columns: 20% 25% 25% 20%;
    grid-gap: 3.33%;
    padding: 10px 20px; 
    border-bottom: 1px solid #E3E8F2; 
}
.history-container div:first-child {
    font-weight: bold;
    padding-top: 20px; 
    background-color: #DFF3FE;
}
.history-container div:last-child {
    border-bottom: none; 
}
.account-details {
    text-align: right;
    font-size: 14px;
    margin-bottom: 25px; 
}
.account-details span {
    display: flex;
    justify-content: end;
}
.account-details span b {
    padding-left: 7.5px; 
}
.account-details span p {
    padding-left: 5px; 
}