<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="images/admin-icon.png">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/admin.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>International Bank</title>
</head>
<body class="admin">
    <nav class="navbar">
        <div class="navbar-container">
            <div>
                <a href="admin"><img class="bank-logo" src="images/logo.png"></a>
            </div>
            <div class="navbar-links">
                <a href="users"><img src="images/admin-users.png"></a>
                <a href="accounts"><img src="images/admin-accounts.png"></a>
                <a href="transactions"><img src="images/admin-transactions.png"></a>
                <a th:href="@{/adminLogout}"><button class="sign-out">Sign out</button></a>
            </div>
        </div>
    </nav>
    <div class="main-container">
        <h3 class="header">Add New User</h3>
        <div th:if="${status == 'success'}" class="success-container">
            <p class="success-message">The user has been added successfully.</p>
        </div>
        <div th:if="${error != 'none'}" class="error-container">
            <p th:text="${error}" class="error-message">An error has occurred.</p>
        </div>
        <form class="add-form" novalidate action="addUser" method="POST">
            <div class="form-container">
                <label>First Name: </label>
                <input name="first-name" type="text" required/>
                <label>Last Name: </label>
                <input name="last-name" type="text" required/>
                <label>Email: </label>
                <input name="email" type="text" required/>
                <label>Password: </label>
                <input name="password" type="text" required/>
                <label>Role: </label>
                <select name="role">
                    <option value="" disabled selected></option>
                    <option>Admin</option>
                    <option>User</option>
                </select>
            </div>
            <div class="admin-buttons">
                <button class="submit-add" type="submit">Submit</button>
                <button class="cancel-add" type="button">Cancel</button>
            </div>
        </form>
    </div>
    <footer class="footer">
        <div class="footer-container">
            <div>
                <a href="users">Users<img src="images/visit.png"></a>
                <a href="accounts">Accounts<img src="images/visit.png"></a>
                <a href="transactions">Transactions<img src="images/visit.png"></a>
            </div>
            <div>
                <img class="secure-logo" src="images/secure.png">
            </div>
        </div>
    </footer>
    <script src="js/admin.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>