<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="images/icon.png">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/history.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>International Bank</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <div>
                <a href="/"><img class="bank-logo" src="images/logo.png"></a>
            </div>
            <div class="navbar-links">
                <a href="/"><img src="images/accounts.png"></a>
                <a href="transfer"><img src="images/transfers.png"></a>
                <a href="contact"><img src="images/contact.png"></a>
                <a><button class="sign-out">Sign out</button></a>
            </div>
        </div>
    </nav>
    <div class="main-container">
        <div class="account-details">
            <h6 th:text="${account.name} + ' ' + ${account.type}">Account Name and Type</h6>
            <span>
                <b><p>Number:</p></b>
                <p th:text="${account.number}">Account Number</p>
                <b><p>Balance:</p></b>
                <p th:if="${account.balance >= 0}" th:text="'$' + ${account.balance}">"Positive" Account Balance</p>
                <p th:if="${account.balance < 0}" th:text="'($' + ${account.balance * -1} + ')'">"Negative" Account Balance</p>
            </span>
        </div>
        <h3 class="header">Transaction History</h3>
        <div class="history-container">
            <div>
                <p>Trans. Id</p>
                <p>Transfer</p>
                <p>Date</p>
                <p>Amount</p>
            </div>
            <div th:each="transaction : ${transactions}">
                <p th:text="${transaction.id}" class="transaction-history">Transaction Id</p>
                <p th:if="${account.name != transaction.fromAccount.name}" th:text="'From ' + ${transaction.fromAccount.name}" class="transaction-type">From Account Name</p>
                <p th:if="${account.name != transaction.toAccount.name}" th:text="'To ' + ${transaction.toAccount.name}" class="transaction-type">To Account Name</p>
                <p th:text="${transaction.date}" class="transaction-date">Transaction Date</p>
                <p th:if="${account.name == transaction.fromAccount.name}" th:text="'- $' + ${transaction.amount}" class="transaction-amount">Transaction Amount</p>
                <p th:if="${account.name == transaction.toAccount.name}" th:text="'+ $' + ${transaction.amount}" class="transaction-amount">Transaction Amount</p>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="footer-container">
            <div>
                <a href="/">Accounts<img src="images/visit.png"></a>
                <a href="transfer">Transfers<img src="images/visit.png"></a>
                <a href="contact">Contact<img src="images/visit.png"></a>
            </div>
            <div>
                <img class="secure-logo" src="images/secure.png">
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>