<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="images/icon.png">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>International Bank</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <div>
                <a href="/"><img class="bank-logo" src="images/logo.png"></a>
            </div>
            <div class="navbar-links">
                <a href="/"><img src="images/accounts.png"></a>
                <a href="transfer"><img src="images/transfers.png"></a>
                <a href="contact"><img src="images/contact.png"></a>
                <a><button class="sign-out">Sign out</button></a>
            </div>
        </div>
    </nav>
    <div class="main-container">
        <div class="apple-pay">
            <span>
                <p>
                    Here at the International Bank, we're thrilled to announce that we now offer Apple Pay. 
                    Say goodbye to fumbling with cards and hello to convenient transactions. 
                    Try Apple Pay today! 
                </p>
            </span>
            <span>
                <button class="set-up-apple-pay">Set up</button>
                <button class="dismiss-apple-pay">Dismiss</button>
            </span>
        </div>
        <div class="welcome-screen">
            <span>Welcome back, </span><span th:text="${user.firstName} + '!'">User Name</span>
        </div>
        <div>
            <h4>Bank Accounts</h4>
            <div th:if="${#lists.size(bankAccounts) == 0}" class="open-account-prompt">
                <p>Please contact the bank to open a new bank account.</p>
            </div>
            <div th:if="${#lists.size(bankAccounts) != 0}" th:each="bankAccount : ${bankAccounts}" class="account-container">
                <a th:href="@{/history(id=${bankAccount.id})}">
                    <span class="account-type">
                        <p th:text="${bankAccount.name} + ' ' + ${bankAccount.type}">Bank Account Name and Type</p>
                        <p th:text="${bankAccount.number}">Bank Account Number</p>
                    </span>
                    <span><p th:text="'$' + ${bankAccount.balance}" class="account-sum">Bank Account Balance</p></span>
                    <hr>
                </a>
            </div>
        </div>
        <div>
            <h4>Credit Cards</h4>
            <div th:if="${#lists.size(creditCards) == 0}" class="open-account-prompt">
                <p>Please contact the bank to open a new credit card.</p>
            </div>
            <div th:if="${#lists.size(creditCards) != 0}" th:each="creditCard : ${creditCards}" class="account-container">
                <a th:href="@{/history(id=${creditCard.id})}">
                    <span class="account-type">
                        <p th:text="${creditCard.name} + ' ' + ${creditCard.type}">Credit Card Name and Type</p>
                        <p th:text="${creditCard.number}">Credit Card Number</p>
                    </span>
                    <span th:if= "${creditCard.balance >= 0}">
                        <p th:text="'$' + ${creditCard.balance}" class="account-sum">"Positive" Credit Card Balance</p>
                    </span>
                    <span th:if= "${creditCard.balance < 0}">
                        <p th:text="'($' + ${creditCard.balance * -1} + ')'" class="account-sum">"Negative" Credit Card Balance</p>
                    </span>
                    <hr>
                </a>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="footer-container">
            <div>
                <a href="/">Accounts<img src="images/visit.png"></a>
                <a href="transfer">Transfers<img src="images/visit.png"></a>
                <a href="contact">Contact<img src="images/visit.png"></a>
            </div>
            <div>
                <img class="secure-logo" src="images/secure.png">
            </div>
        </div>
    </footer>
    <script src="js/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>